body{
    justify-content: center;
    align-items: center;
}


.home-container {
    margin-left: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .random-biryani {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  p {
    margin: 8px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
  }
  
  li {
    margin-bottom: 5px;
    font-style: italic;
  }
  